
* {
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    margin-right: 5em;
    padding-top: 30px;
    font-size: 2vmin;
}

nav a {
    border-radius: 7px;
    margin: 5px;
    padding: 17px;
    text-decoration: none;
    background-color: rgb(255, 94, 94);
    color: white;
}


section.gallery img {
    max-width: 540px;
}

section.gallery figure {
    text-align: center;
    border: 3px solid black;
    box-shadow: 10px 10px rgb(143, 143, 143);
}

section.gallery figcaption {
    margin: 10px;
}

section.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

section.table {
    padding-bottom: 50px;
    border: 3px solid;
    margin-bottom: 50px;
}

section.table td {
    margin: 10px;
    height: 320px;
}

section.table th {
    
    padding: 10px;
    font-size: 20px;
}

section.table {
    width: 99%;
}

section.table tbody img {
    max-width: 550px;
}

footer {
    font-size: 14px;
    color: white;
    background-color:black;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 10px;
    display: flex;
    justify-content: right;
}

section.feature-text h2 {
    font-family: "Kanit", serif;
    font-size: 6.5vmin;
    font-weight: 600;
}

section.feature-text {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 5vw;
    margin-right: 7vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-top: 2vw;
    background-color: rgb(255, 170, 170); 
    
}

div.line1 {
   margin-right: 10em;
    max-height: 100px;
}


div.line2 {
    max-height: 150px;
    
}

.profilepic figure {
    box-shadow: 5px 5px black;
    margin-top: 3vmax;
}

.indextable {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.indextable th {
    table-layout: fixed;
    width: 700px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.indextable td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: justify;
}
