
* {
    font-family: Arial, Helvetica, sans-serif;
}


/* Navigation */
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    margin-right: 5em;
    padding-top: 30px;
    font-size: 2vmin;
    
}

nav a {
    border-radius: 7px;
    margin: 5px;
    padding: 17px;
    text-decoration: none;
    background-color: rgb(255, 94, 94);
    color: white;
}

nav a:hover {
    background-color: rgb(255, 225, 225);
    color: rgb(255, 94, 94);
}

/* Styling across multiple pages */
header h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vmin;
    margin-top: 50px;
    color: white;
    background-color: rgb(255, 188, 188);
    max-width: 46vmin;
    padding: 5px;
    margin-left: 2vw;
}


/* Home page styling */
section.feature-text h2 {
    font-family: "Kanit", serif;
    font-size: 6.5vmin;
    font-weight: 600;
}

section.feature-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 7vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-top: 2vw;
    background-color: rgb(255, 170, 170); 
    
}

div.line1 {
   margin-right: 10em;
    max-height: 100px;
}


div.line2 {
    max-height: 150px;
    
}

.profilepic img {
    box-shadow: 5px 5px black;
    margin-top: 3vmax;
    width: 30vw;
    max-width: 300px;
}

.indextable {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.indextable th {
    table-layout: fixed;
    width: 700px;
    font-size: 2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.indextable td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: justify;
    font-size: 2vmin
}

/* Projects Page */

section.gallery img {
    max-width: 29vmax;
    min-width: 430px;
}

section.gallery figure {
    text-align: center;
    border: 3px solid black;
    box-shadow: 10px 10px rgb(59, 59, 59);
    margin: 20px;
    background-color: white;
}

section.gallery figcaption {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

section.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: gray;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

/* About me page */
header.about {
    max-width: 35vmin;
}

section.background {
    max-width: 650px;
    min-width: 1vmin;
    background-color: rgb(223, 223, 223);
}

section.background h2, h3, p, ul {
    margin: 20px;
}

section.background figure {
    border: 2pt solid black;
    max-width: max-content;
    text-align: center;
    background-color: white;
}

section.background img {
    max-width: 70vw;
}

section.workplace {
    background-color: rgb(255, 225, 225);
    max-width: 750px;
}

section.workplace h2, p {
    margin: 20px;
}

div.work-pictures {
    display: flex;
    flex-wrap: wrap;
}

.work-pictures figure {
    border: 2pt solid black;
    max-width: 35vmin;
    text-align: center;
    background-color: white;
}

.work-pictures img {
    width: 35vmin;
    border-bottom: 2pt solid black;
}

section.future {
    border: 1pt solid black;
    margin: 30px;
    
    text-align: center;
}

div.background-information {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 50px;
}


/* Contact Page*/
header.contact {
    max-width: 30vmin;
}

.get-in-touch {
    font-size: 20pt;
    margin: 70px;
}

section.contact {
    margin-top: 50px;
    margin-bottom: 300px;
    max-width: fit-content;
    font-size: 15pt;
}

.contact li {
    margin: 15px;
    padding: 15px;
    list-style: none;
    border: 1pt solid black;
    background-color: rgb(255, 225, 225);
}

/* Footer */
footer {
    font-size: 14px;
    color: white;
    background-color:black;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

footer p1 {
    margin-right: 33vw;
    margin-left: 2vw;
}

footer img {
    max-width: 33px;
    
}
